{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kashan Holiday</title>
	<link rel="Shortcut icon" href="{% static "img/logo.png"%}">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
	<script src="{% static 'js/jquery3.3.1.js' %}"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="{% static 'tours/tour-style.css' %}" rel="stylesheet">
	<link href="{% static 'tours/main.css' %}" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md  bg-outline-light navbar-wrapper">
<div class="container-fluid">
		<a href="#" class="navbar-brand"><img id="top-icon" src="{% static "img/logo.png"%}" style="width: 30px; height: 30px;" alt="logo"></a>
		<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar-Responsive">
			<span class="navbar-toggler-icon my-toggler "></span>
		</button>
		<li>
			<a href="#"><i class="fas fa-shopping-cart navbar-cart"></i><span class="badge">0</span></a>
		</li>
		<duv class="collapse navbar-collapse" id="navbar-Responsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item act">
					<a href="#" class="nav-link">
						صفحه اصلی
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url "tours:Tour_List"%}" class="nav-link">
						تور
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						هتل
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						رستوران
					</a>
				</li>
				<li class="nav-item ">
					<a href="{% url 'blog:list' %}" class="nav-link">
						وبلاگ
					</a>
				</li>
			</ul>
		</div>
</div>
</nav>



<!--- Image header -->
<div class="image-header">
    <!-- <img src="./../img/karvansara.jpg" alt=""> -->
</div>

<!-- Portfolio Grid -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class=" left-tours col-12">
                <div class="container">
                <div class="row">
					{% if messages %}
					<div class="container">

						<div class="alert alert-success text-center alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-label="close">
								<span aria-hidden="Close">&times;</span>
							</button>
							{% for message in messages %}
								<p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>
									{{ message }}
								</p><br>
							{% endfor %}
						</div>

					</div>

					{% endif %}
				</div>
			</div>
		</div>
				{%block content%}

                {%endblock content%}



            <!-- <div class="col-md-4 col-12">
                <div class="container">
                <div class="row right">
                    <div class="search col-md-12">
                        <div class="search-header">
                            <h1>search</h1>
                        </div>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="input-text">
                                    <i class="fas fa-search"></i>
                                </span>
                                <input type="text" id="text" class="form-control" maxlength="100"
                                placeholder="Eenter Your name here">
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="search col-md-12">
                        <div class="search-header">
                            <h1>Category</h1>
                        </div>
                        <div class="cat"><a href="#">a</a></div>
                        <div class="cat"><a href="#">a</a></div>
                        <div class="cat"><a href="#">a</a></div>
                    </div>
                    <div class="pictures col-md-12">
                        <div class="search-header">
                            <h1>Pictures</h1>
                        </div>
                        <div class="row img-gallery">     -->

						{% block gallery %}

						{% endblock gallery %}



                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div><!-- row -->
    </div>
</section>



<!--- Footer -->
<footer id="myFooter">
		<div class="container">
		<div class="row">
		<div class="col-sm-3">
		<h5 style="text-align:center">کاشان هالیدی</h5>
<ul style="text-align:center">
<li><a href="#">درباره ما</a></li>
		<li><a href="#">قوانین</a></li>
		<li><a href="#">ارتباط با ما</a></li>
		</ul>
		</div>
		<div class="col-sm-3">
		<h5 style="text-align:center">خدمات مشتریان</h5>
<ul style="text-align:center">
<li><a href="#">سوالات متداول</a></li>
		<li><a href="#">حریم شخصی کاربران</a></li>
<li><a href="#">راهنمای رزرو</a></li>
		</ul>
		</div>
		<div class="col-sm-3">
		<h5 style="text-align:center">صفحات</h5>
		<ul style="text-align:center">
		<li><a href="#">تور ها</a></li>
		<li><a href="#">هتل ها</a></li>
		<li><a href="#">رستوران ها</a></li>
		</ul>
		</div>
		<div class="col-sm-3">
		<h5 style="text-align:center">همکاران ما</h5>
		<ul style="text-align:center">
		<li><a href="#">علی بابا</a></li>
		<li><a href="#">گیتی سرور</a></li>
		<li><a href="#">جاباما</a></li>
		</ul>
		</div>
		</div>


			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26467.08839297249!2d51.408631924073745!3d33.982616536386814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f9684849edea239%3A0xaf87e360598c6612!2sKashan%2C+Isfahan+Province%2C+Iran!5e0!3m2!1sen!2s!4v1525879647210" width="1100" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
<div class="social-networks">
<a href="#"><i class="fab fa-facebook fa-3x"></i></a>
<a href="#"><i class="fab fa-twitter fa-3x"></i></a>
<a href="#"><i class="fab fa-google-plus-g fa-3x"></i></a>
<a href="#"><i class="fab fa-instagram fa-3x"></i></a>
<a href="#"><i class="fab fa-youtube fa-3x"></i></a>
<a href="#"><i class="fab fa-telegram fa-3x"></i></a>
</div>
<div class="footer-copyright">
<p>© 2018 Copyright KashanHoliday </p>
</div>
</footer>
</body>
</html>
<script>
	$(document).ready(function(){
		{% block jquery %}

		{% endblock %}
	});
</script>
<script src="{%static 'js/main.js' %}"></script>