.body{
    font-family: 'Poppins', sans-serif;
    color: #222;
    background-color: #ffffff !important;
}
.image-header {
    background-image: url(./../img/the-landscape-of-Maranjab-Desert.jpg);
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;    width: 100%;
}
.parallex3{
    background-image: url(./../img/The-Maranjab-Desert%u2019s-Caravanserai.jpg);
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

.right h1{ 
    margin: 10px auto;
    padding: 5px 0;
    font-size: 1.2rem;
    width: 90%;
    background-color:  #ffcc80;
    color:  #e68a00;
    border: 1px solid #e68a00;
    text-align: center;
}
.right{
    margin-top: 15px;
    background-color: rgba(210,212,220,.5);
}  
.right input{
    width: 75%;
}
.right .input-group-prepend{
    margin-left: 36px;
}
.right .img-gallery{
        width: 85%;
        margin: 0 auto;
}
.right .img-gallery img{ 
    height: 80px;
}
.right .cat{
    border-radius: 4px; 
    padding: 3px 20px;
    background: rgba(255, 255,255, .5);
    margin: 5px auto;
    width: 80%;
}
.right .pictures{
    margin: 20px 0;
}
.right .search{
    margin: 15px 0 5px;
}
