{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kashan Holiday</title>
	<link rel="Shortcut icon" href="{% static 'img/logo.png' %}">
	{% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> {% endcomment %}
	<script src="{% static 'js/jquery3.3.1.js' %}"></script>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
	<!-- <script src="{% static "js/jquery3.3.1.js" %}"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->

	<script src="{% static 'js/main.js' %}"></script>

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'cozastore/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cozastore/css/main.css' %}">
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
<!--===============================================================================================-->

</head>
<body class="animation">
<!-- Navigation -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						<b><p style="font-size: 15px;">با ما همراه باشید :)</p></b>
					</div>

					<div class="right-top-bar flex-w h-full">
						{% if not user.is_authenticated %}
						<a href="{% url 'account:signup' %}" class="flex-c-m trans-04 p-lr-25">
							<b style="font-size: 15px; color: aquamarine; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">ثبت نام کنید</b>
						</a>
						{% endif %}

						{% if not user.is_authenticated %}
						<a href="{% url 'account:login' %}" class="flex-c-m trans-04 p-lr-25">
							<b style="font-size: 15px; color: aqua; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">ورود</b>
						</a>
						{% endif %}

						{% if user.is_authenticated %}
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							<b style="font-size: 15px; color: aqua; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">حساب کاربری</b>
						</a>
						{% endif %}

						{% if user.is_authenticated %}
						<a href="{% url 'account:logout' %}" class="flex-c-m trans-04 p-lr-25">
							<b style="font-size: 15px; color: orangered; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">خروج</b>
						</a>
						{% endif %}
					
						

						<a href="#" class="flex-c-m trans-04 p-lr-25">
							FA
						</a>

						<a href="http://www.tgju.org/currency-exchange" class="flex-c-m trans-04 p-lr-25">
							IR RIALS
						</a>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="{% url 'home' %}">
									<b><p style="font-size: 17px; font-family: Arial, Helvetica, sans-serif">صفحه‌ اصلی</p></b>
								</a>
								<!-- <ul class="sub-menu">
									<li><a href="index.html">Homepage 1</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul> -->
							</li>

							<li>
								<a href="{% url 'restaurants:rest_list' %}">
										<b><p style="font-size: 17px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">رستوران‌ها</p></b>
								</a>
							</li>

							<li>
								<a href="{% url 'hotel:hotel_list' %}">
										<b><p style="font-size: 17px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">هتل‌ها</p></b>
								</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="{% url 'tours:Tour_List' %}">
										<b><p style="font-size: 17px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">تورها</p></b>
								</a>
							</li>

							<li>
								<a href="{% url 'blog:list' %}">
										<b><p style="font-size: 17px; font-family: Arial, Helvetica, sans-serif">وبلاگ</p></b>
								</a>
							</li>

							<li>
								<a href="{% url 'about' %}">
										<b><p style="font-size: 17px; font-family: Arial, Helvetica, sans-serif">درباره ما</p></b>
								</a>
							</li>

							<li>
								<a href="{% url 'contact' %}">
										<b><p style="font-size: 17px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">تماس با ما</p></b>
								</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search" style="color: black"></i>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti cart-count-badge" data-notify="{{ request.session.cart_item_count }}">
							<a href="{% url 'cart' %}"><i class="zmdi zmdi-shopping-cart" style="color: black;"></i></a>
						</div>

						<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
							<i class="zmdi zmdi-favorite-outline" style="color: black"></i>
						</a>
					</div>

					<a href="{% url 'home' %}" class="logo">
						<img src="{% static 'img/logo.png' %}" class="logo">
					</a>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="{% url 'home' %}"><img src="{% static 'cozastore/images/icons/logo-01.png' %}" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart cart-count-badge" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
							تخفیفات ویژه برای تورهای بالاتر از یک میلیون تومان
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							FA
						</a>

						<a href="http://www.tgju.org/currency-exchange" class="flex-c-m p-lr-10 trans-04">
							IR RIALS
						</a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="{% url 'home' %}">صفحه اصلی</a>
					<!-- <ul class="sub-menu-m">
						<li><a href="index.html">Homepage 1</a></li>
						<li><a href="home-02.html">Homepage 2</a></li>
						<li><a href="home-03.html">Homepage 3</a></li>
					</ul> -->
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="product.html">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">تورها</a>
				</li>

				<li>
					<a href="blog.html">وبلاگ</a>
				</li>

				<li>
					<a href="{% url 'about' %}">درباره ما</a>
				</li>

				<li>
					<a href="{% url 'contact' %}">تماس با ما</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
						<!-- <i class="fas fa-shopping-cart"></i> -->
					<img src="{% static 'cozastore/images/icons/icon-close2.png' %}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>

			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'cozastore/images/item-cart-01.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'cozastore/images/item-cart-02.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="{% static 'cozastore/images/item-cart-03.jpg' %}" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>

				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="shoping-cart.html" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- {% include 'snippets/css.html' %} -->

	{% block slider %}


	{% endblock slider %}


	{% block mainpage %}


	{% endblock mainpage %}


	{% block content %}



	{% endblock content %}



	<!-- {% include 'snippets/js.html' %} -->

<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
	
<!--- Footer -->
	<footer id="myFooter">
		<div class="container">
		<div class="row">
		<div class="col-sm-3">
		<h5 style="text-align:center">کاشان هالیدی</h5>
	<ul style="text-align:center">
	<li><a href="#">درباره ما</a></li>
		<li><a href="#">قوانین</a></li>
		<li><a href="#">ارتباط با ما</a></li>
		</ul>
		</div>
		<div class="col-sm-3">
		<h5 style="text-align:center">خدمات مشتریان</h5>
	<ul style="text-align:center">
	<li><a href="#">سوالات متداول</a></li>
		<li><a href="#">حریم شخصی کاربران</a></li>
		<li><a href="#">راهنمای رزرو</a></li>
			</ul>
			</div>
			<div class="col-sm-3">
					<h5 style="text-align:center">صفحات</h5>
					<ul style="text-align:center">
					<li><a href="{% url 'tours:Tour_List' %}">تور ها</a></li>
					<li><a href="#">هتل ها</a></li>
					<li><a href="{% url 'restaurants:rest_list' %}">رستوران ها</a></li>
					</ul>
					</div>
					<div class="col-sm-3">
					<h5 style="text-align:center">همکاران ما</h5>
					<ul style="text-align:center">
					<li><a href="www.alibaba.ir">علی بابا</a></li>
					<li><a href="www.gitiserver.com">گیتی سرور</a></li>
					<li><a href="www.jabama.com">جاباما</a></li>
			</ul>
			</div>
			</div>
			
			<div class="col-9 col-offset-3 col-centered">
				<div class="embed-responsive embed-responsive-21by9 ">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26467.08839297249!2d51.408631924073745!3d33.982616536386814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f9684849edea239%3A0xaf87e360598c6612!2sKashan%2C+Isfahan+Province%2C+Iran!5e0!3m2!1sen!2s!4v1525879647210"  frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
	
		</div>
		<div class="social-networks">
			<a href="#"><i class="fab fa-facebook fa-3x"></i></a>
			<a href="#"><i class="fab fa-twitter fa-3x"></i></a>
			<a href="#"><i class="fab fa-google-plus-g fa-3x"></i></a>
			<a href="#"><i class="fab fa-instagram fa-3x"></i></a>
			<a href="#"><i class="fab fa-youtube fa-3x"></i></a>
			<a href="#"><i class="fab fa-telegram fa-3x"></i></a>
		</div>
		<div class="footer-copyright">
			<p>© 2018 Copyright KashanHoliday </p>
		</div>
		</footer>







    	<!-- JavaScript Fuctionality!!! -->

<!--===============================================================================================-->	
	<script src="{% static 'cozastore/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/select2/select2.min.js' %}"></script>
        <script>
            $(".js-select2").each(function(){
                $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                });
            })
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'cozastore/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/slick/slick.min.js' %}"></script>
        <script src="{% static 'cozastore/js/slick-custom.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/parallax100/parallax100.js' %}"></script>
        <script>
            $('.parallax100').parallax100();
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
        <script>
            $('.gallery-lb').each(function() { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a', // the selector for gallery item
                    type: 'image',
                    gallery: {
                        enabled:true
                    },
                    mainClass: 'mfp-fade'
                });
            });
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/isotope/isotope.pkgd.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/sweetalert/sweetalert.min.js' %}"></script>
        <script>
            $('.js-addwish-b2').on('click', function(e){
                e.preventDefault();
            });
    
            $('.js-addwish-b2').each(function(){
                var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");
    
                    $(this).addClass('js-addedwish-b2');
                    $(this).off('click');
                });
            });
    
            $('.js-addwish-detail').each(function(){
                var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();
    
                $(this).on('click', function(){
                    swal(nameProduct, "is added to wishlist !", "success");
    
                    $(this).addClass('js-addedwish-detail');
                    $(this).off('click');
                });
            });
    
            /*---------------------------------------------*/
    
            $('.js-addcart-detail').each(function(){
                var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
                $(this).on('click', function(){
                    swal(nameProduct, "is added to cart !", "success");
                });
            });
        
        </script>
    <!--===============================================================================================-->
        <script src="{% static 'cozastore/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
        <script>
            $('.js-pscroll').each(function(){
                $(this).css('position','relative');
                $(this).css('overflow','hidden');
                var ps = new PerfectScrollbar(this, {
                    wheelSpeed: 1,
                    scrollingThreshold: 1000,
                    wheelPropagation: false,
                });
    
                $(window).on('resize', function(){
                    ps.update();
                })
            });
        </script>
    <!--===============================================================================================-->
		<script src="{% static 'cozastore/js/main.js' %}"></script>
		
		{% block javascript %}


		{% endblock javascript %}
    </body>
    </html>
    <script>
			$(document).ready(function(){
				{% block jquery %}
		
				{% endblock %}
			});
	</script>
<script src="{%static 'js/main.js' %}"></script>

<script>
// 	$('.cart-count-badge').notify({
// 	// options
// 	title: 'Bootstrap notify',
// 	message: 'Hello World' 
// },{
// 	// settings
// 	type: 'danger'
// });
	console.log($('.cart-count-badge').attr('data-notify'))
	// var badge = $('.cart-count-badge').data();
	// badge.notify = '10';
	// console.log($('.cart-count-badge').data('notify'))
	// $('.cart-count-badge').data('notify', 10);
	function updateCartItemBadge(){
		var badge = $('.cart-count-badge').attr("notify");
		// $('.cart-count-badge').attr("data-notify", "10");

		$.ajax({
			type: "GET",
			url: "{% url 'cart_badge' %}",
			success: function(data){
				// badge.text(data.count);
				// $('#mydiv').data('myval',20);
				$('.cart-count-badge').attr("data-notify", data.count);
				// console.log($('.cart-count-badge').data('notify'))
				// $('.cart-count-badge').attr('notify', "10");

			},
			error: function(response, error){
				console.log(response);
				console.log(error);
			}
		})
	}
	$(document).ready(function(){
		updateCartItemBadge();

	})
</script>